<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Weibo Observatory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <style type="text/css">
       img.media-image {
       	cursor: 
       		url("{% static "img/big.cur" %}"),
       		auto!important;
       }
    </style>
  </head>
  <body style="padding-top: 60px;">
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">
          	<img src="{{avatar}}" width="24px" height="24px" /> 
          	{{ nickname }}
          </a>
          <ul class="nav">
          	{% if user.is_superuser %}
            <li><a href="/admin">Admin</a></li>
            {% endif %}
            <li><a href="/crawl" target="blank">Crawl</a></li>
            <li><a href="/renew">Renew Token</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
      	

<div class="container">
	<div class="row">
		<div class="span3"> <!-- sidebar -->
			<p>
				Status crawled: <br/><b> {{user.get_profile.history_set.all|length}}</b>
			</p>
			<p>
				Token expiration: <br/><b>{{user.get_profile.expiry_time}} </b>
			</p>
			<p>
				Last Updated on: <br/><b>{{user.get_profile.last_crawled}} </b>
			</p>
			{% if user.is_superuser %}
			<div style="padding-right:20px">
				<hr>
				<span class="pull-left">User quota: </span>
				<div class="progress" title="{{quota.user_limit_tooltip}}">
					<div class="bar" style="width:{{quota.user_limit_percentage}}%;"></div>
				</div>
				<span class="pull-left">IP quota: </span>
				<div class="progress" title="{{quota.ip_limit_tooltip}}">
					<div class="bar" style="width:{{quota.ip_limit_percentage}}%;"></div>
				</div>
			</div>
			{% endif %}
		</div><!-- END sidebar -->

		<div class="span8">
			<!-- main area -->
			<div class="row">
				{% for href, text in links %}
				{% if forloop.counter == page %}
				<b><a href="{{ href }}">{{ text }}</a></b>
				{% else %}
				<a href="{{ href }}">{{ text }}</a>
				{% endif %}
				{% endfor %}
			</div>

			<div class="row">
				<table class="table table-striped">
					{% for status in statuses  %}
					<tr>
						<td>
						{% include "status.html" with status=status %}
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>

			<div class="row">
				{% for href, text in links %}
				{% if forloop.counter == page %}
				<b><a href="{{ href }}">{{ text }}</a></b>
				{% else %}
				<a href="{{ href }}">{{ text }}</a>
				{% endif %}
				{% endfor %}
			</div>
			
		</div><!-- main area -->

	</div><!-- END row -->
	<hr>
	<footer>
		<p>&copy; rx201</p>
	</footer>
</div><!-- /container -->
    
    
    <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script>
    	$(".media-image").click(function() {
    		if ($(this).hasClass('maximized')) {
    			$(this).removeClass('maximized');
    			$(this).attr('src', $(this).attr('thumbnail'));
    			$(this).siblings('.media-image').show();
    		} else {
    			$(this).addClass('maximized');
    			$(this).attr('src', $(this).attr('middle'));
    			$(this).siblings('.media-image').hide();
    		}
    	});
	</script>
  </body>
</html>