<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Weibo Observatory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
  </head>
  <body>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="/">Hello {{ uid }}</a>
          <ul class="nav">
          	{% if user.is_superuser %}
            <li><a href="/admin">Admin</a></li>
            {% endif %}
            <li><a href="/crawl" target="blank">Crawl</a></li>
            <li><a href="/renew">Renew Token</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
      	

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <p>
         I have crawled {{user.get_profile.history_set.all|length}} statuses for you.	
		</p>
		<p>
			Token expires on {{user.get_profile.expiry_time}}
		</p>
		<p>
			Last crawled at {{user.get_profile.last_crawled}}
		</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6 offset3">
			<table class="table table-striped">
				{% for status in statuses  %}
			 	<tr><td>{{ status }}</td></tr>
			 	{% endfor %}
			</table>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; rx201</p>
      </footer>

    </div> <!-- /container -->
    
    
    <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>